<h1>This is the new competency form:</h1>

<form action="/competencies" method="POST">
    <div>
        <input type="text" name="competencyName" placeholder="competency Name">
    </div>
    <div>
        <input type="text" name="description" placeholder="competency Description">
    </div>
    <div>
        <button>Submit!</button>
    </div>
</form>