<%-include('../partials/header')%>
<div class="form-whole">
<h1 class="l-heading form-heading">Add New Competency</h1>
<h2 class="m-heading form-title">Competency #<%= count %></h2>
<form id="form" action="/competencies" method="POST">
  <div class="form-group form-number">
    <label for="number">
      <input type="text" name="number" id="number" value="<%= count %>" readonly> 
    </label>
  </div>
  <div class="form-group form-name">
    <label for="competencyName">Competency Name:</label
    ><input required autocomplete="off" type="text" name="competencyName" placeholder="Competency Name" />
  </div>
  <div class="form-group form-description">
    <label for="description">Competency Description:</label>
    <textarea
      form="form"
      name="description"
      requried
      placeholder="Competency Description"> </textarea> 
  </div>
  <div class="button-group">
    <div class="form-group cancel form-button">
      <a href="/competencies/"><p>Cancel</p></a>
    </div>
  <div class="form-group submit form-button">
    <button>Add</button>
  </div>
</div>
</form>
</div>
</div>
<%- include('../partials/footer') %> 