<!DOCTYPE html>
<html>
  <head>
    <title>Competency Tracker</title>
    <script src="https://kit.fontawesome.com/6a3cdcdfe7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CSS/main.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="flex-body">
    <nav id="navbar">
      <div id="logo-container" class="container">
        <i class="fa fa-graduation-cap fa-5x"></i>
        <h1 class="logo-heading s-heading">Institution</h1>
        <div class="login">
          <a href="#">Login</a> <span>|</span> <a href="#">Sign-up</a>
        </div>
        <i class="navmenu fa fa-bars" display="none"></i>
      </div>
      <div id="navigation" class="container">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/roles">Roles</a></li>
          <li><a href="/competencies">Competencies</a></li>
          <li class="mobile-login"><a href="#">Login</a> <span>|</span> <a href="#">Sign-up</a></li>
        </ul>
      </div>
    </nav>