<!DOCTYPE html>
<html>
  <head>
    <title>Competency Tracker</title>
    <script src="https://kit.fontawesome.com/6a3cdcdfe7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CSS/main.css" type="text/css" />
    <link rel="stylesheet" href="/CSS/nav.css" type="text/css" />
    <link rel="stylesheet" href="/CSS/indexes.css" type="text/css" />
    <link rel="stylesheet" href="/CSS/show.css" type="text/css" />
    <link rel="stylesheet" href="/CSS/forms.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="flex-body">
      <%-include('./nav')%>