<!DOCTYPE html>
<html>
  <head>
    <title>Competency Tracker</title>
    <script
      src="https://kit.fontawesome.com/6a3cdcdfe7.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="/CSS/main.css" type="text/css" />
    <link rel="stylesheet" href="/CSS/nav.css" type="text/css" />
    <link rel="stylesheet" href="/CSS/indexes.css" type="text/css" />
    <link rel="stylesheet" href="/CSS/show.css" type="text/css" />
    <link rel="stylesheet" href="/CSS/forms.css" type="text/css" />
    <link rel="stylesheet" href="/CSS/flash.css" type="text/css" />
    <link rel="stylesheet" href="/CSS/home.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div id="flex-body">
      <%-include('./nav')%>
    </div>
  </body>
</html>
