.dashboard {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    /* margin-left: 1rem; */
    margin-right: 4rem;
}

.competencies, .roles {
    padding: 1rem;
    border: 1px solid  black;
}

.dashboard .competency, .dashboard .role {
    padding: .5rem;
}
.dashboard .competency:nth-child(2n), .dashboard .role:nth-child(2n)  {
    margin: .5rem auto;
    background-color: #e2e2e2;
}

#login-info {
    font-style: italic;
}

.example-login-label {
    font-style: normal;
    font-weight: 600;
}
