@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/* reset */
html {
  font-size: 18px;
}
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #f2f2f2;
}

li {
  list-style: none;
}

textarea:focus,
input:focus {
  outline: none;
}

/* utility */
.primary {
  color: #40b33f;
}

.l-heading {
  font-size: 2.1rem;
}
.m-heading,
.m-heading-2 {
  font-size: 1.8rem;
  color: #333333;
}
.m-heading:hover {
  color: #40b33f;
}

.s-heading {
  font-size: 1.4rem;
}

.xs-heading {
  font-size: 1.1rem;
}

.xxs-heading {
  font-size: 1rem;
}
.btn {
  text-align: center;
  color: #e2e2e2;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #333333;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-add {
  margin-top: 40px;
  padding: 10px;
  max-width: 200px;
}
.btn-add:hover {
  color: #333333;
}

.btn-primary {
  background-color: #40b33f;
}

.delete {
  border: none;
  color: rgba(253, 0, 0, 0.726);
  cursor: pointer;
  background-color: #f2f2f2;
}

.hidden {
  display: none !important;
}
.nav-hidden {
  display: none;
}
.invisible {
  opacity: 0;
}

.not-button {
  border: none;
  cursor: pointer;
}
.not-button:hover {
  color: #40b33f;
}

/* flex-body*/
#flex-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#list {
  width: 95%;
}
/********MOBILE*********/
@media  (max-width: 700px) {
  #flex-body {
    width: 100%;
  }
  .body-content {
    width: 100%;
  }
  #navbar {
    width: 100%;
    position: fixed;
    height: 60px;
    top: 0;

    background-color: rgba(33, 33, 33);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.158);
  }
  #navbar #logo-container {
    display: flex;
    flex-direction: row;
    font-size: 0.5rem;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 5px;
  }

  #navbar #logo-container .fa-graduation-cap {
    margin: 0;
    padding-left: 10px;
  }

  #navbar #logo-container .s-heading {
    margin: 10px;
  }

  #navbar #logo-container .login {
    display: none;
  }
  #navbar .nav-hidden {
    display: none;
  }
  #navbar #logo-container .navmenu {
    display: inline-block;
    font-size: 1.5rem;
    margin: 13px 15px 7px 0;
  }
  #navbar .navmenu:hover {
    color: #40b33f;
  }
  #navbar #navigation .container {
    display: none;
  }
  #navbar #navigation .mobile-login {
    display: inline-block;
  }
  #navbar #navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgba(33, 33, 33);
    /* display: none; */
  }

  .body-content,
  .body-content-show {
    margin: 40px 0 0 0;
    padding-top: 50px;
    width: 100%;
  }

}

@media screen and (max-width: 701px) {
  #navbar #navigation.hidden {
    display: block; 
  }
}