<%-include('../partials/header')%>
 <div  class="body-content"> 
<h1 class="l-heading">Competency Tracker proof-of-concept</h1>

<h3 class="s-heading">This app tracks the roles of an institution, and the competencies and skills that make up those roles.</h3>
<br>
<p class="description">Current functionality is limited to roles and competencies, though in the coming weeks I hope to expand this into a system capable of planning, creating, and tracking an institution's entire training curriculum.</p>
<br>
<p>Future features include:</p>
<br>
<ul>
    <li>More opportunities for collaboration between users</li>
    <li>Tracking ability for classes</li>
    <li>Automatic class-list generation for roles</li>
    <li>Search implemented for roles</li>
    <li>Employee and student learning-path tracking</li>
    <li>Better error handling</li>
</ul>
<br>
<p>Finished:</p>
<br>
    <ul>
        <li>user authentication and user roles (right now, the login and sign-up links do not do anything)</li>
        <li>CSRF Protection</li>
    </ul>
<br>
<p>Please note that this is NOT a stable production environment; things will change and the database will be reset often.</p>
<br>
<p><a href="https://github.com/ZachJDev/Competency_Tracker"> Check out the project on GitHub.</a> Please send any bug reports or comments to <a href="mailto:ZachJDev2121@gmail.com">ZachJDev2121@gmail.com</a></p>
</div>
</div>
<%-include('../partials/footer')%>